<!doctype html>
<html>
    <head>
        <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
        <script type="application/javascript" src="/js/login.js"></script>
        <link rel="stylesheet" type="text/css" href="/css/login.css">
    </head>

    <body>
        <div class="login">
            <h3>WELCOME!!</h3>
            <div>
                <p>Existing User</p>
                <select name="userList" id="userList"></select>
                &nbsp;<button id="loginBtn">Login</button>
            </div>
            <div>
                <p>New User</p>
                <button id="createNewUser">Sign Up</button>
            </div>
        </div>
    </body>
</html>
